basePath: /
definitions:
  handler.Response:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
  handler.SongReq:
    properties:
      extra:
        additionalProperties:
          type: string
        example:
          '{"song_id"': '"31445554"}'
        type: object
      id:
        example: "31445554"
        type: string
      source:
        example: netease
        type: string
    required:
    - id
    - source
    type: object
host: localhost:8080
info:
  contact: {}
  description: 这是一个基于底层库构建的跨平台音乐搜索与解析统一 API 服务。
  title: Go Music API
  version: "1.0"
paths:
  /api/download_url:
    post:
      consumes:
      - application/json
      description: 传入带源和ID的歌曲JSON获取底层音频直链 (通常作为播放地址使用)
      parameters:
      - description: 请求参数
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/handler.SongReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 获取下载/播放链接
      tags:
      - 核心解析
  /api/lyric:
    post:
      consumes:
      - application/json
      description: 传入带源和ID的歌曲JSON获取LRC格式的歌词文本
      parameters:
      - description: 请求参数
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/handler.SongReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 获取歌曲歌词
      tags:
      - 核心解析
  /api/parse:
    get:
      description: 粘贴任意平台的单曲分享链接，自动识别平台并解析出歌曲详情
      parameters:
      - default: https://y.qq.com/n/ryqq/songDetail/0039MnYb0qxYhV
        description: 单曲分享链接
        in: query
        name: link
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 解析单曲链接
      tags:
      - 单曲功能
  /api/playlist/detail:
    get:
      description: 根据歌单ID和指定的平台，获取歌单内的所有歌曲
      parameters:
      - default: "3778678"
        description: 歌单ID
        in: query
        name: id
        required: true
        type: string
      - default: netease
        description: 音乐平台
        in: query
        name: source
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 获取歌单详情(包含歌曲列表)
      tags:
      - 歌单功能
  /api/playlist/parse:
    get:
      description: 粘贴歌单分享链接，自动识别平台并解析出歌单详情及包含的所有歌曲
      parameters:
      - default: https://music.163.com/#/playlist?id=3778678
        description: 歌单分享链接
        in: query
        name: link
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 解析歌单链接
      tags:
      - 歌单功能
  /api/playlist/recommend:
    get:
      description: 获取指定平台的热门或每日推荐歌单
      parameters:
      - default: qq
        description: 音乐平台
        in: query
        name: source
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 每日推荐歌单
      tags:
      - 歌单功能
  /api/playlist/search:
    get:
      description: 通过关键词搜索指定平台的歌单列表
      parameters:
      - default: 华语流行
        description: 歌单关键词
        in: query
        name: keyword
        required: true
        type: string
      - default: netease
        description: 音乐平台
        in: query
        name: source
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 搜索歌单
      tags:
      - 歌单功能
  /api/search:
    get:
      description: 根据关键词和指定的平台搜索音乐
      parameters:
      - default: 抖音
        description: 搜索关键词
        in: query
        name: keyword
        required: true
        type: string
      - default: qq
        description: 音乐平台(qq/netease/kuwo/kugou/migu/bilibili/fivesing/joox/soda/jamendo/qianqian等)
        in: query
        name: source
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.Response'
      summary: 搜索单曲
      tags:
      - 单曲功能
swagger: "2.0"
